<article class="p-grid p-nogutter">

	<header class="p-grid p-col-3 p-lg-12 ">
		<div class="p-col-4 p-lg-10">
			<i *ngIf="contact.favorite"
				 class="fa fa-heart"
				 (click)="toggleFavorite(false)"></i>
			<i *ngIf="!contact.favorite"
				 class="fa fa-heart-o"
				 (click)="toggleFavorite(true)"></i>
		</div>
		<div class="p-col-4 p-lg-1 action-btn">
			<i class="fa fa-pencil"
				 (click)="edit()"></i>
		</div>
		<div class="p-col-4 p-lg-1 action-btn">
			<i class="fa fa-trash"
				 (click)="delete()"></i>
		</div>
	</header>

	<figure class="p-grid p-col-9 p-lg-12"
					(click)="openDetailsView()">
		<div class="p-col-fixed profile-picture">
			<img src="{{ contact.profilePicture }}"
					 alt="User profile picture">
		</div>
		<div class="p-col p-lg-12 profile-name">
			<figcaption>{{ contact.firstName }} {{ contact.lastName }}</figcaption>
		</div>
	</figure>

</article>
