<article class="p-grid p-nogutter">

	<header class="p-grid p-col-3 p-lg-12 ">
		<div class="p-col-4 p-lg-10">
			<i class="fa fa-heart"></i>
		</div>
		<div class="p-col-4 p-lg-1 action-btn">
			<i class="fa fa-pencil"></i>
		</div>
		<div class="p-col-4 p-lg-1 action-btn">
			<i class="fa fa-trash"></i>
		</div>
	</header>

	<figure class="p-grid p-col-9 p-lg-12">
		<div class="p-col-fixed profile-picture">
			<img src="https://stevensegallery.com/100/100"
					 alt="User profile picture">
		</div>
		<div class="p-col p-lg-12 profile-name">
			<figcaption>Steven Segal</figcaption>
		</div>
	</figure>

</article>
