/* Layout */
main {
	@media screen and (min-width: $breakpointLargeStart) {
		padding-left: 5em;
		padding-right: 5em;
	}
}

/* Buttons */
button.cl-btn {
	border-radius: 25px;
	padding: 0 2em;

	&.secondary-btn {
		background-color: $secondaryColor;
		border-color: $secondaryColor;
	}

	&.primary-btn {
		background-color: $primaryColor;
		border-color: $primaryColor;
	}
}

button.round-btn {
	border-radius: 50%;
	height: 2.25em;
	width: 2.25em;

	&.secondary-btn {
		background-color: white;
		border-color: $secondaryColor;
		color: $secondaryColor;
	}

	&.primary-btn {
		background-color: white;
		border-color: $primaryColor;
		color: $primaryColor;
	}
}
