cl-confirm-dialog {
	& .ui-widget-content p {
		margin: 2em;
	}

	@media screen and (max-width: $breakpointMediumEnd) {
		& section.action-section {
			flex-direction: column-reverse;
		}
	}
}

cl-profile-picture-upload {
	& figure.profile-picture {
		height: $profilePictureSize * 2;
		width: $profilePictureSize * 2;
		border-radius: 50%;
		border: 5px solid $secondaryColorLight;
		background-color: $primaryColorLight;
		@extend %align-column-all-center;

		& img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			border-radius: 50%;
		}

		& i.fa {
			color: white;
		}
	}

	@media screen and (max-width: $breakpointMediumEnd) {
		& figure.profile-picture {
			height: $profilePictureSize;
			width: $profilePictureSize;
		}
	}
}
