<p-dialog [header]="headerTitle"
					[(visible)]="displayDialog"
					[modal]="true"
					[closable]="false">

	<p>{{ message }}</p>

	<section class="p-grid action-section">
		<div class="p-col-12 p-lg-6 align-row-center">
			<p-button label="Cancel"
								styleClass="cl-btn secondary-btn"
								(onClick)="cancel()"></p-button>
		</div>
		<div class="p-col-12 p-lg-6 align-row-center">
			<p-button [label]="actionLabel"
								styleClass="cl-btn primary-btn"
								(onClick)="action()"></p-button>
		</div>
	</section>

</p-dialog>
